body {
  font-family: "Open Sans", serif;
  color: black;
}
h4{
  font-weight: 700;
  font-size: 20pt;
  margin-bottom: 30px;
}
p {
  font-size: 14pt;
}
#bg_left, #bg_right {
  background: #000;
  z-index: -999;
  top: 0; 
  position: fixed; 
}
#bg_left {
  left: 0;
}
#bg_right{
  right: 0;
}
.container > .container{
  padding: 50px 50px;
}
.nav-item {
  color: white;
}
