.nav-item {
  color: white;
}
#bg_left {
  background: #000;
  z-index: -999;
  top: 0; 
  left: 0; 
  position: fixed; 
}
#bg_right {
  background: #000;
  z-index: -999;
  top: 0; 
  right: 0; 
  position: fixed;
}
p {
  margin: 0px;
}